.form-organize input{
    display: block;
    margin: 0% 45%;
}
.login-header{
    text-align: center;
    padding-top: 40px;
}

.form-organize button{
    margin: 0% 45%;
}

.login{
    background-image: url(../../Image/bannerbackground.png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 7%;
}
.crtAccountBtn{
    margin: 0% 43%;
    font-weight: 500;
    
}
.loginBtn button{
    margin: 0% 43%;
    border: none;
    outline: none;
    color: white;
    background-color: #f91a45;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 20px;
}