.header{
    display: flex;
 }
 .logo img{
    height: 70px;
    width: 150px;
 }
 
 .header2{
    padding-left: 10%;
 }
 .header button{
    margin-left: 2%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
  
 }
 .header button:hover{
    background-color: tomato;
    color: white;
   
 }
 .header-bg{
    background-image: url(../bannerbackground.png);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
 }
 .search-opt{
    padding: 10% 25%;
 }
 .search-opt input{
    margin: 0% 25%;
 }
 .signBtn{
    margin-bottom: 10px;
    padding-left: 20px;
 }