.inputBox{
    width: 80%;
    margin: 10px 30px;
    box-shadow: 2px 3px 10px lightgray;
    border: none;
}
.input-container{
    width: 60%;    
}
.input-container h4{
    margin: 30px 0px 0px 30px;
    text-decoration: underline;    
}
.delivery-container{
    display: flex;
}
.review-Cart{
    text-align: center;
   
    width: 40%;   
}
.review-Cart h4{
    margin: 30px 0px 0px 30px;
}
.delivery-btn{
    border: none;
    padding: 10px;
    background-color: red;
    border-radius: 20px;
    color: white;
}
