.inputBox{
    width: 80%;
    margin: 10px 30px;
    box-shadow: 2px 3px 10px lightgray;
    border: none;
    outline: none;
}
.input-container{
    width: 60%;    
}
.input-container h4{
    margin: 30px 0px 0px 30px;
       
}
.delivery-container{
    display: flex;
    margin-top: 70px;
}
.review-Cart{
    text-align: center;
   
    width: 40%;   
}
.review-Cart h4{
    margin: 30px 0px 0px 30px;
}
.delivery-btn{
    border: none;
    padding: 10px;
    background-color: red;
    border-radius: 20px;
    color: white;
    outline: none;
    font-weight: 700;
}
.review-Cart button{
    border: none;
    outline: none;
    padding: 10px;
    background-color:  red;
    border-radius: 20px;
    color: white;
    
}
.input-container hr{
    margin: 0px 135px 0px 30px;
}
