.header{
  background-color: white;
}
 .logo{
    height: 50px;
    width: 130px;
 }
 
 .header2{
    padding-left: 10%;
    width: 100%;
 }

 
 .signBtn {
    margin-top: 15px;
    padding-left: 20px;
   
    
 }
 .signBtn a{
    margin-left: 2%;
    border-radius: 5px;
    padding: 3px;
    color: black;
    font-weight: 600;
    
 }
 .signBtn a:hover{
    text-decoration: none;
    color: white;
    background-color: red;
 }
 #signUp-btn{
    outline: none;
    color: white;
    background-color: red;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 20px;
 }

 