.form-organize input{
    display: block;
    margin: 0% 45%;
}



.form-organize button{
    margin: 0% 45%;
}

}
.login{
    background-image: url(../bannerbackground.png);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 2%;
}
